body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.layout{
  width: 85%;
  margin: auto;

}


.header{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 132px;
  border-bottom: 3px solid black;
  margin-bottom: 35px;

}

.header .logo{
  flex-grow: 2;
  display: flex;
}
.header .logo span{
 display: block;
 font-size: 90px;
 font-weight: bolder;
 margin-top: -8px;

}

.header .logo h3{
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 300;
  text-transform: uppercase;
}


.header nav{
  flex-grow: 1;
}

.header nav ul{
  height: 132px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

/*ESTILOS HEADER*/
.header li{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
  
}

.header li a {
  color: black;
  text-decoration: none;
  transition: all 300ms;
}



.header  a:hover {
  color: rgb(255, 66, 66);

  
}
.header .active{

  color: rgb(255, 66, 66);

}

/**/
.footer{
  min-height: 40px;
  line-height: 7px;
  color: #444;
  text-align: center;
  font-size: 14px;
  margin-top: 35px;
  padding-top: 45px;
  border-top: 3px solid black;
  background: #f5f5f5;
  margin-top: 80px;

}

.content{
  min-height: 550px;
}

.home h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 80px;


}


.home strong{
  color: #fa4529;
}

.home h2{
  color:gray;
  font-weight: lighter;
}

.home .title a {  
  padding: 7px;
  border-radius: 5px;
  background:#fa4529;
  color: white;
  text-decoration: none;
  transition: all  300ms;

}

.home .title a:hover,
input[type="submit"]:hover,
button:hover{

  background:#00ad0e;
 

}





.home .heading{
  font-size: 40px;
  margin-bottom: 0px;
  font-weight: 500;
  color: black;
}

.page .heading{
  font-size: 55px;
  font-weight: bold;
  
}

.home p{
  color:gray;
}

input[type="text"],
input[type="email"],
textarea{
  display: block;
  padding: 15px;
  margin-top:25px;
  width: 250px;
}

input[type="submit"],
button
{
  font-size: 15px;
  padding: 15px;
  border:0px;
  margin-top: 15px;
  cursor: pointer;

  border-radius: 5px;
  background:#fa4529;
  color: white;
  text-decoration: none;
  transition: all  300ms;

}



/*magia flex*/
.works{
  display: flex;
  flex-wrap: wrap;
}

.work-item{
  flex-basis:30%;
  flex-grow: 1;
  margin: 30px;
}
.work-item .mask{
  width: 100%;
  height: 350px;
  overflow: hidden;
  border: 4px solid rgb(102, 102, 102);
  box-shadow: -9px 9px 0px #ccc;
  border-radius: 0.3rem;

}
.page-work h1{
  /*width: 40%;*/
  transition: all 300ms;
}


.page-work h1:hover{
  color: #fa4529;
  transition: all 300ms;
}

.work-item img{
  width: 120%;
  /*margin-left: -20px;*/
  transition: all 500ms;
  margin-left: -45px;
}

.work-item .mask:hover img{
  width: 130%;
  margin-right: 30%;

}

.work-item span{
  display: block;
  color: gray;
  margin-top: 35px;
}
.work-item h2{
  display: block;
  font-size:30px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 10px;
}

.work-item a{
  color: black;
  text-decoration: none;
  transition: all 300ms;
}

.work-item a:hover{
  color: #fa4529;
  
}

.work-item h3{
  display: block;
  color: gray;
  padding-top: 15px;
  margin-top: 0px;
  border-top: 1px solid #ddd;

}


.page-work .mask{
  height: 300px;
  overflow: hidden;
 /* box-shadow: 0px 0px 20px #ddd;*/
 box-shadow: -9px 9px 0px #ccc;


  border: 2px solid #8d8d8d;
  border-radius: 0.3rem;


}


.detail-project{
  color: rgb(172, 172, 172);
  margin-top: -50px;
}

.c_index h1{
  font-size: 38px;
  font-weight: 100;
}

.c_index h2{

  color: rgb(0, 103, 199);
  
}
.c_index p{
  font-weight: 700;
  color: rgb(165, 165, 165);
  
}


.columns{
  display: flex;
}

.columns strong{
color: #616161;
}

.m_contact{
  display: flex;
  justify-content: space-around;
}

